* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: deepskyblue;
}

.white {
    background-color: rgb(224, 204, 167);
}

.selected {
    background-color: brown;
}

.avaliable {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(32, 192, 32);
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}



.modal {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-main {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.disabled {
    pointer-events: none;
}